{% extends "base.html" %}
{% load static %}

{% block navbar %}
<a class="navbar-brand" href="{% url 'home_fr' %}">Ukrainian Civil Society Hub</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="active" href="http://127.0.0.1:8000">
                <svg style="height: 25px; margin-top: 10px;" xmlns="http://www.w3.org/2000/svg" id="flag-icons-ua" viewBox="0 0 640 480">
                <g fill-rule="evenodd" stroke-width="1pt">
                <path fill="#ffd700" d="M0 0h640v480H0z"/>
                <path fill="#0057b8" d="M0 0h640v240H0z"/>
                </g>
                </svg>
            </a>
            <a class="active" href="http://127.0.0.1:8000/fr/">
                <svg style="height: 25px; margin-top: 10px;" xmlns="http://www.w3.org/2000/svg" id="flag-icons-fr" viewBox="0 0 640 480">
                  <g fill-rule="evenodd" stroke-width="1pt">
                    <path fill="#fff" d="M0 0h640v480H0z"/>
                    <path fill="#002654" d="M0 0h213.3v480H0z"/>
                    <path fill="#ce1126" d="M426.7 0H640v480H426.7z"/>
                  </g>
                </svg>
            </a>
            <a class="active" href="http://127.0.0.1:8000/en/">
                <svg style="height: 25px; margin-top: 10px;" xmlns="http://www.w3.org/2000/svg" id="flag-icons-gb" viewBox="0 0 640 480">
                <path fill="#012169" d="M0 0h640v480H0z"/>
                <path fill="#FFF" d="m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z"/>
                <path fill="#C8102E" d="m424 281 216 159v40L369 281h55zm-184 20 6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z"/>
                <path fill="#FFF" d="M241 0v480h160V0H241zM0 160v160h640V160H0z"/>
                <path fill="#C8102E" d="M0 193v96h640v-96H0zM273 0v480h96V0h-96z"/>
                </svg>
            </a>
        </li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'home_fr' %}">Page d'accueil</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'about_us_fr' %}">À propos</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'contact_fr' %}">Contact</a></li>
    </ul>
</div>
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<!-- Content section-->
<section class="py-5">
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Ukrainian Civil Society Hub</h2>
                <p class="lead">Nous sommes un Centre Ukrainien des bénévoles à Bruxelles. Le temps de la guerre nous a pris à l'étranger, mais nous sommes tous ici - une équipe. Nos cœurs appartiennent à notre peuple.</p>
                <p class="lead">Notre mission est aider à l'Ukraine et les Ukrainiens de toutes les manières possibles. Chacun de nous fait de son meilleur pour s'entraider en ces temps difficiles.</p>
                <p class="lead">Nous serons heureux de tous ceux qui sont intéressés par la coopération et qui veulent aider à l'Ukraine.</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('/media/back.jpg'); background-repeat: no-repeat; background-size: cover;">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="lead">Notre adresse: Station Europe, Centre des visiteurs du Parlement Européen, Pl. du Luxembourg, 1050 Ixelles, Belgique</p>
                <p class="lead">Notre e-mail: ua.civilsocietyhub@gmail.com</p>
                <p class="lead">Tous ensemble nous gagnerons!!!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block aside %}
{% endblock %}

{% block footer %}
<a class="navbar-brand" href="{% url 'home_fr' %}">Ukrainian Civil Society Hub</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" href="{% url 'home_fr' %}">Page d'accueil</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'about_us_fr' %}">À propos</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'contact_fr' %}">Contact</a></li>
    </ul>
</div>
{% endblock %}