{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content=" Ukrainian Volunteer Hub in Brussels" />
        <title>Ukrainian Civil Society Hub :: {% block site_title %}{{ title }}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/ukraine.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
            <div class="container">
                {% block navbar %}
                <a class="navbar-brand" href="{% url 'home' %}">Ukrainian Civil Society Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="active" href="http://ukrainiancivilsocietyhub.org/">
                                <svg style="height: 25px; margin-top: 10px;" xmlns="http://www.w3.org/2000/svg" id="flag-icons-ua" viewBox="0 0 640 480">
                                <g fill-rule="evenodd" stroke-width="1pt">
                                <path fill="#ffd700" d="M0 0h640v480H0z"/>
                                <path fill="#0057b8" d="M0 0h640v240H0z"/>
                                </g>
                                </svg>
                            </a>
                            <a class="active" href="http://ukrainiancivilsocietyhub.org/fr/">
                                <svg style="height: 25px; margin-top: 10px;" xmlns="http://www.w3.org/2000/svg" id="flag-icons-fr" viewBox="0 0 640 480">
                                  <g fill-rule="evenodd" stroke-width="1pt">
                                    <path fill="#fff" d="M0 0h640v480H0z"/>
                                    <path fill="#002654" d="M0 0h213.3v480H0z"/>
                                    <path fill="#ce1126" d="M426.7 0H640v480H426.7z"/>
                                  </g>
                                </svg>
                            </a>
                            <a class="active" href="http://ukrainiancivilsocietyhub.org/en/">
                                <svg style="height: 25px; margin-top: 10px;" xmlns="http://www.w3.org/2000/svg" id="flag-icons-gb" viewBox="0 0 640 480">
                                <path fill="#012169" d="M0 0h640v480H0z"/>
                                <path fill="#FFF" d="m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z"/>
                                <path fill="#C8102E" d="m424 281 216 159v40L369 281h55zm-184 20 6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z"/>
                                <path fill="#FFF" d="M241 0v480h160V0H241zM0 160v160h640V160H0z"/>
                                <path fill="#C8102E" d="M0 193v96h640v-96H0zM273 0v480h96V0h-96z"/>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'about_us' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                {% endblock %}
            </div>
        </nav>