<div class="card mb-4 border-warning">
    <div class="card-header bg-transparent border-warning">Tags</div>
    <div class="card-body {{ menu_class_en }}">
        <div class="row">
            
            <ul class="text-primary mb-0">
                {% for item in tags_en %}
                <a class="badge fs-6 m-1 bg-primary text-decoration-none link-light" href="{{ item.get_absolute_url_en }}">{{ item.title_en }}</a> 
                {% endfor %}
            </ul>
            
        </div>
    </div>
</div>